<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>Articles</h1>
    <a href="/articles/create">Create new article</a>
    <% articlesList.forEach(article => { %>
        <h2><%=article.title %></h2>
        <a href="/articles/<%= article.id %>/edit">edit</a>  
        <a href="/articles/<%= article.id %>/delete">delete</a>  
        <a href="/articles/<%= article.id %>">click here to see the article</a>
    <% }) %>
    <br>
    <br>
    <a href="/users/logout">logout</a>
</body>
</html>