<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>edit Comment</h1>
    <a href="/comment"></a>
        <form action="/comments/<%= comment.id %>/update" method="POST">
            <input type="text" name="text" placeholder="edit Comment" value="<%= comment.text %>">
           
            <input type="submit" class="button" value="update">
        </form>
    
</body>